body {
  font-family: "merienda one";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-weight: 0!important;
}

p {
  color: white;
}

h1 {
  color: white;
}

#header {
  top: 0;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 45px;
}

#footer {}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
  background-color: white;
  border: .1em solid black;
  border-radius: 50%;
  color: black;
}

.imageBox {
  position: relative;
  width: 30vw;
  height: auto;
  display: inline-block;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  margin-right: .5vw;
  margin-left: .5vw;
  background-color: none;
  z-index: 500;
  border: 3px solid white;
}

.projectSelect {
  position: absolute;
  z-index: 501;
  left: 0;
  top: 55px;
  color: white!important;
  background-color: black;
  width: 97vw;
  height: auto;
  padding-left: 3vw;
  padding-right: 3vw;
}

.projDesc {
  position: relative;
}

.pageH {
  position: relative;
  margin: 0 auto;
  margin-top: 45px;
  -webkit-transition: margin-top .5s ease;
  transition: margin-top .5s ease;
  font-size: 36px;
  text-align: center;
  color: white;
}

#messageBox {
  position: relative;
  color: white;
  background-color: black;
  margin-top: 100px;
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 10px black;
}

#leftShutter {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  z-index: 1;
  position: absolute;
  Left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: solid #0d0d0d;
  border-right: solid transparent;
}

#rightShutter {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: solid #0d0d0d;
  border-left: solid transparent;
}

.side {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: .5vw;
  padding-right: .5vw;
  border: 0.5vw solid black;
  border-top: none;
  border-bottom: none;
  background-color: #0d0d0d;
  color: white;
}

#c1 {
  -webkit-transform: rotateY(0deg) translateZ(50vmax);
          transform: rotateY(0deg) translateZ(50vmax);
}

#c2 {
  -webkit-transform: rotateY(89.999deg) translateZ(50vmax);
          transform: rotateY(89.999deg) translateZ(50vmax);
}

#c3 {
  text-align: center;
  -webkit-transform: rotateY(180deg) translateZ(50vmax);
          transform: rotateY(180deg) translateZ(50vmax);
}

#c4 {
  -webkit-transform: rotateY(269.999deg) translateZ(50vmax);
          transform: rotateY(269.999deg) translateZ(50vmax);
}

#c5 {
  -webkit-transform: rotateX(-89.999deg) rotateZ(89.999deg) translateZ(50vmax);
          transform: rotateX(-89.999deg) rotateZ(89.999deg) translateZ(50vmax);
}

#c6 {
  -webkit-transform: rotateX(89.999deg) rotateZ(89.999deg) translateZ(50vmax);
          transform: rotateX(89.999deg) rotateZ(89.999deg) translateZ(50vmax);
}

#contactMessage {
  position: relative;
  color: white;
  background-color: transparent;
}

#contactMessage p {}

#contactMessage a {
  color: red!important;
}

.customForm {
  color: white!important;
  background-color: black!important;
}

#sliderContainer{
  color: white;
  background-color: black;
}

#openSlider{
  color: white;
}

#slider .ui-slider-handle {
  background-color: white;
}

#slider .ui-slider-handle:focus {
  outline: none;
  border: 1.6px solid white;
}

#slider .ui-slider-handle:hover {
  cursor: pointer!important;
}
