body {
  font-family: roboto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-weight: 0!important;
  overflow: hidden!important;
}

html {
  overflow: hidden!important;
}

p {
  font-color: black;
  font-size: 1em;
}

#nerdragon {
  width: 20%;
  height: 20%;
}

h1 {
  font-size: 1.5em;
}

#header {
  top: 0;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 50px;
}

#footer {
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 5vh;
  min-height: 1.2em;
}

#nextPage {
  position: absolute;
  background-color: transparent;
  top: 50vh;
  display: none;
  right: 1vw;
  z-index: 10000!important;
  -webkit-transition: -webkit-animation 2s ease;
  transition: -webkit-animation 2s ease;
  transition: animation 2s ease;
  transition: animation 2s ease, -webkit-animation 2s ease;
  -webkit-animation: growIn 2s forwards;
  animation: growIn 2s forwards;
}

#previousPage {
  position: absolute;
  background-color: transparent;
  top: 50vh;
  display: none;
  left: 1vw;
  z-index: 10000!important;
  -webkit-transition: -webkit-animation 2s ease;
  transition: -webkit-animation 2s ease;
  transition: animation 2s ease;
  transition: animation 2s ease, -webkit-animation 2s ease;
  -webkit-animation: growIn 2s forwards;
  animation: growIn 2s forwards;
}

#bottomPage,
#topPage {
  position: absolute;
  background-color: transparent;
  bottom: 6vh;
  left: calc(50vw - 18px);
  z-index: 10000!important;
  -webkit-transition: -webkit-animation 2s ease;
  transition: -webkit-animation 2s ease;
  transition: animation 2s ease;
  transition: animation 2s ease, -webkit-animation 2s ease;
  -webkit-animation: growIn 2s forwards;
  animation: growIn 2s forwards;
  display: none;
}

.glyphicon:hover {
  cursor: pointer!important;
}

@-webkit-keyframes growIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes growIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
  background-color: white;
  border: .1em solid black;
  border-radius: 50%;
  color: black;
  font-size: 2em;
}

#bottomPage .glyphicon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#topPage .glyphicon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.glyphicon-chevron-right:active {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.glyphicon-chevron-left:active {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}

#bottomPage .glyphicon:active {
  -webkit-transform: translateY(5px) rotate(90deg);
  transform: translateY(5px) rotate(90deg);
}

#topPage .glyphicon:active {
  -webkit-transform: translateY(-5px) rotate(90deg);
  transform: translateY(-5px) rotate(90deg);
}

#links {
  width: auto;
  right: 5%;
  top: 1%;
  position: absolute;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#replay {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-size: 1em;
  -webkit-animation: fadeIn 2s forwards;
  animation: fadeIn 2s forwards;
  color: black;
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li {
  float: left;
  display: inline-block;
}

ul {
  position: relative;
  right: 10%;
  top: 0;
  display: block;
  float: right;
}

#navbarHead {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 500;
}

#navigation {
  padding-right: 10px;
  text-align: center;
  background-color: black;
  border-color: black;
  height: 45px;
  display: none;
}

.glyphButton {
  color: white;
  font-size: 1.5em;
}

#home,
#project,
#theme,
#contact {
  position: inline;
  color: white;
  border-radius: 10%;
  border-color: black;
  /*border:none!important;
  box-shadow: 2px 2px 1px 1px silver;
  box-shadow:none!important;*/
  background-color: inherit;
  -webkit-transition: background-color .12s ease-in-out;
  transition: background-color .12s ease-in-out;
  font-size: 1em;
}

#home:hover,
#project:hover,
#theme:hover,
#contact:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}

#home:focus,
#project:focus,
#theme:focus,
#contact:focus {
  outline: none!important;
  outline-color: white!important;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.activeGlyph {
  -webkit-transform: translateY(1vh);
  transform: translateY(1vh);
}

.active {
  background-color: white!important;
  color: black!important;
  color: black;
}

#inno {
  opacity: 0;
  position: relative;
  display: inline-block;
  opacity: 0;
  -webkit-animation: crossMessageRight 2s forwards;
  animation: crossMessageRight 2s forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes crossMessageRight {
  0% {
    -webkit-transform: translate3d(20vw, 20vw, 0);
    transform: translate3d(20vw, 20vw, 0);
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes crossMessageRight {
  0% {
    -webkit-transform: translate3d(20vw, 20vw, 0);
    transform: translate3d(20vw, 20vw, 0);
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

#vate {
  opacity: 0;
  position: relative;
  display: inline-block;
  -webkit-animation: crossMessageLeft 2s forwards;
  animation: crossMessageLeft 2s forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes crossMessageLeft {
  0% {
    -webkit-transform: translate3d(-20vw, -20vw, 0);
    transform: translate3d(-20vw, -20vw, 0);
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    -webkit-transform: translateX(-10vw);
    transform: translateX(-10vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes crossMessageLeft {
  0% {
    -webkit-transform: translate3d(-20vw, -20vw, 0);
    transform: translate3d(-20vw, -20vw, 0);
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    -webkit-transform: translateX(-10vw);
    transform: translateX(-10vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

#challenge {
  opacity: 0;
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(200px) skew(50deg);
  transform: translateX(200px) skew(50deg);
  opacity: 0;
  -webkit-animation: slideMessage 1s forwards;
  animation: slideMessage 1s forwards;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes slideMessage {
  0% {
    -webkit-transform: translate3d(20vw, 0, 0) translateX(200px) skew(50deg);
    transform: translate3d(20vw, 0, 0) translateX(200px) skew(50deg);
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes slideMessage {
  0% {
    -webkit-transform: translate3d(20vw, 0, 0) translateX(200px) skew(50deg);
    transform: translate3d(20vw, 0, 0) translateX(200px) skew(50deg);
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

#sideCaret {
  display: none;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    color: white;
  }
  70% {
    color: black;
  }
}

@keyframes blink {
  0% {
    color: white;
  }
  70% {
    color: black;
  }
}

#home:active,
#project:active,
#play:active,
#contact:active {
  outline: none!important;
  box-shadow: 0px 0px 0px 0px black;
}

#homePage {
  display: block;
  position: relative;
  margin: 0;
  width: 100vw;
  text-align: center;
}

#projectPage {
  margin: 0;
  width: 100vw;
  display: block;
  text-align: center;
}

#projectPage2 {
  display: block;
  text-align: center;
  margin: 0;
  width: 100vw;
}

#themePage {
  display: block;
  margin: 0;
  width: 100vw;
}

#contactPage {
  display: block;
  margin: 0;
  width: 100vw;
}

#contactPage2 {
  display: block;
  margin: 0;
  width: 100vw;
  text-align: center;
}

.imageBox {
  position: relative;
  width: 25vmax;
  height: auto;
  display: inline-block;
  -webkit-transition: all .05s ease-out;
  transition: all .05s ease-out;
  margin-right: .5vmax;
  margin-left: .5vmax;
  background-color: none;
  z-index: 500;
  border-color: darkgreen;
  border-width: .4em 0 .4em 0!important;
  border-style: solid;
  overflow: hidden;
}

img {
  max-width: 25vmax;
  float: left;
  max-height: 75vmin;
}

.projectSelect {
  position: absolute;
  z-index: 501;
  left: 0;
  top: 55px;
  color: black!important;
  background-color: white;
  width: 97vw;
  height: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  border-color: darkgreen;
  border-width: .6em 0 .6em 0!important;
  border-radius: 2%;
  -webkit-transition: -webkit-transform 0s all .05s;
  transition: -webkit-transform 0s all .05s;
  transition: transform 0s all .05s;
  transition: transform 0s all .05s, -webkit-transform 0s all .05s;
}

#projectPage2 .imageBox {
  border-color: steelblue;
}

#projectPage2 .imageBox:hover {
  overflow: hidden;
}

#projectPage2 .projectSelect {
  border-color: steelblue;
}

.projectSelect p {
  padding-left: 3vmax;
  padding-right: 3vmax;
}

.projectSelect img {
  margin-left: -3vw;
  width: 50%;
}

.imageBox:hover img {
  -webkit-transition: -webkit-transform 1s!important;
  transition: -webkit-transform 1s!important;
  transition: transform 1s!important;
  transition: transform 1s, -webkit-transform 1s!important;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.projectSelect:hover img {
  -webkit-transform: none;
  transform: none;
}

a {
  z-index: 10000;
}

.projDesc {
  position: relative;
  font-size: 1.5vmax;
  display: none;
}

.pageH {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  -webkit-transition: margin-top .5s ease;
  transition: margin-top .5s ease;
  font-size: 36px;
  text-align: center;
  color: black;
}

#messageBox {
  position: relative;
  color: black;
  background-color: white;
  margin-top: 100px;
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 10px black;
  -webkit-transition: display 1s ease;
  transition: display 1s ease;
  -webkit-transform: translateZ(0);
  text-align: center;
}

#messageBox h1 {
  font-size: 4vw;
}

#leftShutter {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  z-index: 1;
  position: absolute;
  Left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: solid white;
  border-right: solid transparent;
  -webkit-animation: animateShutter 2s forwards;
  animation: animateShutter 2s forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#rightShutter {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: solid white;
  border-left: solid transparent;
  -webkit-animation: animateShutter 2s forwards;
  animation: animateShutter 2s forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#homeMessage {
  opacity: 1;
}

@-webkit-keyframes animateShutter {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes animateShutter {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

.cc {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-perspective: 1000000px;
  perspective: 1000000px;
}

.side {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 0.5vw solid black;
  background-color: white;
  color: black;
}

#carousel {
  position: absolute;
  margin: 0 auto;
  width: 100vmax;
  height: 100vmax;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rotateHome {
  -webkit-transform: rotateY(0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) translate3d(0, 0, 0);
}

.rotateProj {
  -webkit-transform: rotateY(-89.999deg) translate3d(0, 0, 0);
  transform: rotateY(-89.999deg) translate3d(0, 0, 0);
}

.rotateTheme {
  -webkit-transform: rotateY(-180deg) translate3d(0, 0, 0);
  transform: rotateY(-180deg) translate3d(0, 0, 0);
}

.rotateContact {
  -webkit-transform: rotateY(-269.999deg) translate3d(0, 0, 0);
  transform: rotateY(-269.999deg) translate3d(0, 0, 0);
}

.rotateProj2 {
  -webkit-transform: rotateX(89.999deg) rotateY(-89.999deg) translate3d(0, 0, 0);
  transform: rotateX(89.999deg) rotateY(-89.999deg) translate3d(0, 0, 0);
}

.rotateCont2 {
  -webkit-transform: rotateX(-89.999deg) rotateY(89.999deg) translate3d(0, 0, 0);
  transform: rotateX(-89.999deg) rotateY(89.999deg) translate3d(0, 0, 0);
}

#c1 {
  -webkit-transform: rotateY(0deg) translateZ(60vmax);
  transform: rotateY(0deg) translateZ(60vmax);
}

#c2 {
  -webkit-transform: rotateY(89.999deg) translateZ(60vmax);
  transform: rotateY(89.999deg) translateZ(60vmax);
}

#c3 {
  -webkit-transform: rotateY(180deg) translateZ(60vmax);
  transform: rotateY(180deg) translateZ(60vmax);
}

#c4 {
  -webkit-transform: rotateY(269.999deg) translateZ(60vmax);
  transform: rotateY(269.999deg) translateZ(60vmax);
}

#c5 {
  -webkit-transform: rotateX(-89.999deg) rotateZ(89.999deg) translateZ(60vmax);
  transform: rotateX(-89.999deg) rotateZ(89.999deg) translateZ(60vmax);
}

#c6 {
  -webkit-transform: rotateX(89.999deg) rotateZ(89.999deg) translateZ(60vmax);
  transform: rotateX(89.999deg) rotateZ(89.999deg) translateZ(60vmax);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: none;
}

.theme {
  position: relative;
  margin: 0 auto;
  display: block;
  background-color: white;
  font-size: 1.5em;
  color: black;
  width: 300px;
  min-width: auto;
  margin-bottom: 1vh;
}

#dominoTheme {
  font-family: roboto;
}

#ninjaTheme {
  font-family: "merienda one";
}

#doodleTheme {
  font-family: "coming soon";
}

#magnetTheme {
  font-family: audiowide;
}

#beachTheme {
  font-family: lobster;
}

#ironContainer {
  display: none;
}

#clearPaint {
  display: none;
}

@-webkit-keyframes rotatePaint {
  0% {
    -webkit-transform: rotateY(0deg) translateX(50vw);
    transform: rotateY(0deg) translateX(50vw);
  }
  25% {
    -webkit-transform: rotateY(5deg) translateX(50vw);
    transform: rotateY(5deg) translateX(50vw);
  }
  50% {
    -webkit-transform: rotateY(-5deg) translateX(50vw);
    transform: rotateY(-5deg) translateX(50vw);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rotatePaint {
  0% {
    -webkit-transform: rotateY(0deg) translateX(50vw);
    transform: rotateY(0deg) translateX(50vw);
  }
  25% {
    -webkit-transform: rotateY(5deg) translateX(50vw);
    transform: rotateY(5deg) translateX(50vw);
  }
  50% {
    -webkit-transform: rotateY(-5deg) translateX(50vw);
    transform: rotateY(-5deg) translateX(50vw);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

#contactMessage {
  position: relative;
  color: black;
  background-color: transparent;
  padding-left: 2vmax;
  padding-right: 2vmax;
  font-size: 2.5vmax;
  text-align: right;
}

#formEmail {
  min-height: 20px;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  height: 5vh;
}

#formMessage {
  height: 30vh;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  min-height: 80px;
}

#formSubmit {
  height: 5vh;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  background-color: white;
  border: .05em solid rgb(40, 40, 40);
  box-shadow: 0 0 .05em .05m rgb(200, 200, 200);
  min-height: 20px;
}

.customForm {
  width: 90vw;
  margin: .7vh auto;
  max-width: 400px;
  border: .05em solid rgb(200, 200, 200);
  box-shadow: 0 0 .05em .05em rgb(40, 40, 40);
}

.customForm::-webkit-input-placeholder {
  text-align: center;
}

.customForm:focus {
  border: .15em solid rgb(20, 20, 20);
  box-shadow: 0 0 .05em .05em rgb(40, 40, 40);
}

.popOut {
  -webkit-animation: popOutAnimation .5s forwards;
  animation: popOutAnimation .5s forwards;
}

#amount {
  color: orange;
  font-weight: bold;
  text-align: center;
  border: none;
  width: 3em;
  background-color: transparent;
}

#sliderInfo {
  right: 10px;
}

#sliderWrap {
  position: absolute;
  bottom: 6%;
  right: 0;
  width: 200px;
  height: 35vh;
  min-height: 150px;
}

#slider {
  width: 10px;
  height: 80%;
  position: absolute;
  right: calc(50% - 5px);
  z-index: 10000000!important;
}

#sliderContent {
  height: 100%;
  width: 100%;
  transform: rotate(-180deg);
}

#sliderContainer {
  padding: 5px;
  right: 7%;
  transform: rotate(180deg);
  position: absolute;
  width: auto;
  text-align: center;
  display: none;
  min-height: 150px;
  height: 35vh;
  border: .1em inset silver;
  border-radius: 5%;
  margin-left: 10px;
  background-color: white;
  font-family: roboto!important;
  color: black;
}

#slider .ui-slider-handle {
  background-color: black;
  /*background: -webkit-linear-gradient(white, black);
  background: -o-linear-gradient(white, black);
  background: -moz-linear-gradient(white, black);
  background: linear-gradient(white, black);*/
}

#slider .ui-slider-handle:hover {
  cursor: pointer!important;
}

#slider .ui-slider-handle:focus {
  outline: none;
  border: 1.6px solid black;
}

#openSlider {
  position: absolute;
  right: 20px;
  bottom: 5px;
  transition: transform 0.5s ease-out;
  color: black;
  transform: scale(.5) translate3d(0, 0, 0);
  transition: transform 0.5s;
}

#openSlider.opened {
  transform: scale(.5) rotate(75deg) translate3d(0, 0, 0);
}

#cog1 {
  position: absolute;
  right: -15px;
  top: -10px;
  transition: transform 0.5s ease-out;
  transform: scale(1.3) rotate(30deg) translate3d(0, 0, 0);
}

#cog2 {
  transition: transform 0.5s ease-out;
  transform: translate3d(0, 0, 0);
}

.fa-cogs {
  position: absolute;
  left: 35%;
  top: 45%;
}

#cog1.spinCog1 {
  transform: scale(1.3) rotate(210deg) translate3d(0, 0, 0);
}

#cog2.spinCog2 {
  transform: rotate(-179deg) translate3d(0, 0, 0);
}

#openSlider:hover {
  cursor: pointer!important;
}

@media screen and (max-width: 700px) {
  #header {
    display: none;
  }
  #navigation {
    display: block;
  }
  .projDesc {
    font-size: 2vmax;
  }
  #pleaseNav {
    display: none;
  }
  #sun {
    animation: none;
  }
}
