#sun{
  border-radius: 100%;
  background-color: yellow;
  width: 10vw;
  height: 10vw;
  position: absolute;
  transform-origin: center;
  animation: growSpin 50s infinite ease-in-out;
  top: -4vw;
  left:-4vw;
  z-index: 100000;
}
body{
  font-family: lobster;
  /*Get it??? Because lobsters live in the ocean??*/
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: .5vw solid transparent;
	border-left: 1vw solid yellow;
	border-bottom: .5vw solid transparent;
  position: absolute;
  right: -.9vw;
  z-index: 10;
}
.shineLong{
  width: 10vw;
  height: 1vw;
  position: absolute;
  background-color: inherit;
  right: -50%;
  bottom: 50%;
  box-shadow: 0 0 .5vw yellow;
}
.shineShort{
    width: 10vw;
  height:  1vw;
  position: absolute;
  right: -50%;
  bottom: 50%;
  background-color: inherit;
  box-shadow: 0 0 .5vw yellow;
}
#shine0{
      transform-origin: left;
   transform: rotate(180deg) scale(.9);

}
#shine1{
    transform-origin: left;
   transform: rotate(45deg);
}

#shine2{
   transform-origin: left;
   transform: rotate(90deg) scale(.95);
}

#shine3{
   transform-origin: left;
   transform: rotate(135deg);
}

#shine4{
   transform-origin: left;
   transform: rotate(0) scale(.85);
}

#shine5{
    transform-origin: left;
   transform: rotate(-45deg);
}

#shine6{
   transform-origin: left;
   transform: rotate(-90deg) scale(.8);
}

#shine7{
   transform-origin: left;
   transform: rotate(-135deg);
}


@keyframes growSpin{
  0%{
    transform: scale(1) rotate(0deg);
    filter: saturate(1);
      box-shadow: 0 0 7vw yellow;
  }
  25%{
        transform: rotate(180deg) scale(.9);
  }
  50%{
   filter: saturate(8);
    transform: scale(1) rotate(360deg);
      box-shadow: 0 0 2vw yellow;
  }
  75%{
    transform: rotate(180deg) scale(.9);
  }
  100%{
transform: scale(1) rotate(0deg);
   filter: saturate(1);
      box-shadow: 0 0 7vw yellow;
  }
}

#footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: khaki;
  color: black;
}

.side {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: .5vw;
  padding-right: .5vw;
  color: black;
  border: none!important;
}
#header {
  top: 0;
  background-color: honeydew;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 50px;
  box-shadow: 0 0 1vw .25vw honeydew;
}

#home,
#project,
#theme,
#contact {
  position: inline;
  color: black;
  border-radius: 10%;
  border:none!important;
  /*border:none!important;
  box-shadow: 2px 2px 1px 1px silver;
  box-shadow:none!important;*/
  background-color: inherit;
  transition: background-color .12s ease-in-out;
  font-size: 1em;
}

#navigation {
  padding-right: 10px;
  text-align: center;
  background-color: honeydew;
  border-color: honeydew;
  height: 45px;
}

.glyphButton {
  color: black;
  font-size: 1.5em;
}
#c1 {
  transform: rotateY(0deg) translateZ(49vw);
  background-color: CornflowerBlue;
    background: -webkit-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: -o-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: -moz-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: linear-gradient(royalblue, dodgerblue, cornflowerblue);
}

#c2 {
  transform: rotateY(89.99999999deg) translateZ(49vw);
  background-color: royalblue;
    background: -webkit-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: -o-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: -moz-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: linear-gradient(royalblue, dodgerblue, cornflowerblue);
}

#c3 {
  text-align: center;
  transform: rotateY(180deg) translateZ(49vw);
  background-color: CornflowerBlue;
    background: -webkit-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: -o-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: -moz-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: linear-gradient(royalblue, dodgerblue, cornflowerblue);
}

#c4 {
  transform: rotateY(269.9999999deg) translateZ(49vw);
  background-color: royalblue;
    background: -webkit-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: -o-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: -moz-linear-gradient(royalblue, dodgerblue, cornflowerblue);
  background: linear-gradient(royalblue, dodgerblue, cornflowerblue);
}

#leftShutter {
  transform-origin: 0% 0%;
  z-index: 1;
  position: absolute;
  Left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: solid lightyellow;
  border-right: solid transparent;
  animation: animateShutter 2s forwards;
}

#rightShutter {
  transform-origin: 100% 100%;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: solid lightyellow;
  border-left: solid transparent;
    animation: animateShutter 2s forwards;
}


#contactMessage {
  position: relative;
  color: black;
  background-color: transparent;
  padding-left: 2vw;
  padding-right: 2vw;
  box-shadow: 0 0 10px black;
  font-size: 3vw;
}

#contactMessage a{
  color: white!important;
}